@model Shared.Models.LoginRequest

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid m-4">
    <div class="container w-50 border">
        <h1 class="d-flex justify-content-center mt-2">Login</h1>
        <hr />
        <div class="row p-5">
            <div class="col-md-12">
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" type="password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group d-flex justify-content-center">
                        <span>Don't have an account?&nbsp;</span><a href="@Url.Action("Register", "User")" class="text-decoration-none">Register Now</a>
                    </div>
                    <div class="form-group d-flex justify-content-center">
                        <input type="submit" value="Login" class="btn btn-dark w-75 p-2" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
